*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbtn{
  display: none;
  height: 80px;
  width: 100%;
  /* position: fixed; */
  top: 0;
  background: #F2F2F2;
  /* z-index: 5; */
  align-items: center;
  justify-content: space-between;
}

.registerbtn {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #a81505;
    box-shadow: 0 0 5px #a81505;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
.registerbtn {
  animation: glowing 1300ms infinite;
}
.registerbtnright {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  /* padding: 5px 15px; */
  text-align: center;
  text-decoration: none;
}
@keyframes glowingright {
  0% {
    background-color: #a81505;
    box-shadow: 0 0 5px #a81505;
  }
  50% {
    background-color: #196ce8;
    box-shadow: 0 0 20px #5f00bd;
  }
  100% {
    background-color: #0022ff;
    box-shadow: 0 0 5px #2ba805;
  }
}
.registerbtnright {
  animation: glowingright 1300ms infinite;
}


.top-header {background-color: black;color: white;
padding: 5px 20px;
color: yellow;
font-weight: bold;
display: flex;
justify-content: space-between;

}

.navbtn svg{
  width: 40px;
  height: 40px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  right: 0;
  background-color: rgb(75, 75, 75);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #bfbfbf;
  display: block;
  transition: 0.3s;
}
.closebtn{
  font-size: 70px;
  color: whitesmoke;
}
.navbar{
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  background-color: #eeeeee;
}
.nav1{
  padding: 6px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav2{
  background-color: #7B0100;
  padding: 0px 40px;
}
.nav11{
  width: 10vw;
}
.nav11 img{
  width: 100%;
}
.nav12{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav121{
  width: 13vw;
}
.nav121 img{
  width: 100%;
}
.nav13{
  /* width: 10vw; */
  /* height: 7rem; */
}
.nav13 img{
  /* height: 100%; */
  /* width: 100%; */
}
.nav-active{
  background-color: #FFDD00;
}
.nav-active a:hover{
  color: black;
}
.nav-active button {
  color: black;
}
.nav-active a {
  color: black;
}
.nav2{
  display: flex;
}
.nav21{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #eeeeee41;
}
/* Dropdown Button */
.dropbtn {
  color: white;
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: unset;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.enq-btns{
  z-index: 999;
  position: fixed;
  right: -123px;
  top: 43%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);
}
.navli{
  text-decoration: none;
  color: white;
  padding: 16px;
}
.nav21 a{
  display: block;
  font-size: 11px;
}
.navli:hover{
  color: white;
}
.nav21 button{
  font-size: 12px;
}
.main1{
  margin-bottom: 3rem;
}
.main1 img{
  width: 100%;
  height: 27rem;
}
.main2{
  margin-bottom: 3rem;
}
.main4{
  display: flex;
  margin: 2rem;
  background-color: #eeeeee;
  padding: 2rem;
}
.main4 img{
  width: 45%;
  margin-right: 1rem;
}
.main41{
  margin-left: 1rem;
  width: 55%;
}
.main41 h4{
  color: #7B0100;
}
.main2{
  width: 100%;
}
.main2 img{
  width: 100%;
}
.main3{
  width: 100%;
}
.main3 img{
  width: 100%;
}
footer{
  background-color: #222;
  padding: 12px 1rem;
}

th {
  background: #7b010080;
}
.foot1{
  display: flex;
  justify-content: space-between;
  color: white;
}
.foot12{
  display: flex;
  justify-content: space-between;
  color: white;
}
.foot22{
  display: flex;
  justify-content: space-between;
  color: white;
}
.comm2 h4{
  border-radius: 10px;
  margin-bottom: 2rem;
  background: #7B0100;

  color: white;
  padding: 10px;
}
.rewards1{
  padding: 0rem 1rem;
}
.courses{
  font-size: 35px;
}
.courses > h3{
  font-size: 16px;
}
.rewards11{
  margin-bottom: 1.5rem;
}
.rewards12 h5{
  margin-bottom: 1.6rem;
}
.rewards12 p{
  margin-bottom: 1.3rem;
}
.rewards12 b{
  margin-bottom: 2rem;
  margin-left: 2.3rem;
  text-decoration: underline;
}
.rewards12 ul{
  margin-left: 5rem;
}
.rewards12 em{
  color: rgb(33, 196, 33);
}
.syllabus{
  margin-bottom: 1.8rem;
}
.syllabus1{
    padding: 0rem 1rem;
}
.table-head{
  background:#a81505;
}
.syllabus1 h5{
  margin-bottom: 1.8rem;
}
.syllabus1 li{
  margin-bottom: 1.3rem;
}
.syllabus1 p{
  margin-bottom: 1.5rem;
}
h4{
  margin: 0;
}
h5{
  margin: 0;
}
p{
  margin: 0;
}
.comm{
  display: flex;
  padding: 2rem;
  min-height: 43rem;
  flex-direction: row;
}

.comm1{
  width: 40%;
  margin-right: 2rem;
}
.comm2{
  width: 60%;
  margin-left: 2rem;
}
table, th, td {
  border: 1px solid black;
}

.comm-table{
  width: 90%;
  margin: auto;
}
.comm11{
  padding: 10px;
  background-color: #7B0100;
  color: white;
}
.comm121{
  padding: 10px;
  background-color: #eeeeee;
  border-bottom: 1px solid rgba(34, 34, 34, 0.116);
}
.comm a{
  color: black;
  text-decoration: none;
}
.zones{
  font-size: 15px;
  word-break: break-word;
}

.width1{
  min-width: 70px;
  background: #ea6666;
  /* color: white; */

}
.width2{
  min-width: 150px;
}
.width3{
  min-width: 500px;
}
.reg {
  width: 31vw;
}
.reg-mob{
  display: none;
}

.modal0{
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
display: none;
justify-content: center;
align-items: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal1{
 min-height: 400px;
 width: 300px;
 background-color: white;
 background: white; 
 position: absolute;
 top: 20%;
 /* margin: auto; */
 left: 40%;
 border-radius: 10px;
 display: flex;
 z-index: 8 !important;
 flex-direction: column;
 align-items: center;
 background: #222;
 padding: 10px;
}
.modal1 > input {
  border-radius: 5px;
  width: 80%;
  padding: 7px;
  margin-top: 10px;

  border-color: #bfbfbf;
}
.left-head{
  width: 50%;
}

/* --Registration form */

.registrationFormbody{
  /* width: 65%; */
  padding: 10px 17%;
  margin: auto;
  min-height: 120vh;
max-height: 100%;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,197,127,0.7430322470785189) 46%, rgba(252,170,70,1) 100%);
height: 100%;
  /* height: 80vh; */
}
.regsubmit {
  margin: auto;
  width:  60%;
  margin-top: 40px;
  padding: 10px;
  border-radius: 40px;
}
.input-cover-reg{
  display: flex;

}
.input-upper{
  display: flex ;
}
.input-label-reg{
  color: #7B0100;
  font-size: 20px;
  max-width: 20%;
  min-width: 277px;
  /* margin-left: 20px; */

}
.input-box-reg > select {
  width: 100%;
  min-width: 150px;
  border-radius: 10px;
  padding: 5px 5px;
}
.dis-city{
  min-width: 68px !important;
}
.dist-city-tow{
 width: 60% !important; 
}
.input-box-reg{
 /* width: 70%;  */
 /* margin-left: 2rem; */

}
.input-box-reg > input {
  border-radius: 10px;
  padding: 5px;

}

.reg-two-field{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reg-tow-field-single{
  width: 50%;
}

@media screen and (max-width:1170px){
  .nav2{
    flex-wrap: wrap;
  }
  .zone0{
    flex-direction: column;
  }
  .zone0 .comm1{
    margin-bottom: 2rem;
    margin-right: 0;
    width: 100%;
  }
  .zone0 .comm2{
    margin-left: 0;
    width: 100%;
  }
}


@media screen and (max-width:900px){
  .width1{
    min-width: 50px;
  
  }
  .width2{
    min-width: 130px;
  }
  .width3{
    min-width: 300px;
  }
  .nav21{
    justify-content: flex-start;
  }
  .navbtn{
    display: block;
  }
  .nav2{
    display: none;
  }
  .dropbtn{
    margin-left: 16px;
    color: #bfbfbf;
  }
  .nav11{
    width: 20vw;
  }
  .nav121 {
    width: 22vw;
  }
  .nav13{
    width: 16vw;
    
  }
  .main4{
    flex-direction: column;
    align-items: center;
  }
  .main4 img{
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .main41{
    margin: 0;
    width: 100%;
  }
  .comm{
    flex-direction: column;
  }
  .comm1{
    margin-right: 0;
    width: 100%;
    margin-bottom: 2rem;
  }
  .comm2{
    margin-left: 0;
    width: 100%;
  }
  .zones{
    font-size: 11px;
  }
  .navbtn{
    height: 33px;
  }
  .comm{
    padding: 2rem 1rem;
  }
}


@media screen and (max-width:600px){

  .input-label-reg{
    color: #7B0100;
    font-size: 20px;
    /* max-width: 20%; */
    /* min-width: 100px; */
    /* margin-left: 20px; */
  
  }
  .registrationFormbody {
    /* width: 65%; */
    padding: 10px 5%;
    margin: auto;
    min-height: 100vh;
    max-height: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,197,127,0.7430322470785189) 46%, rgba(252,170,70,1) 100%);
    height: 100%;
    /* height: 80vh; */
}
.dist-city-tow {
  width: 100% !important;
}
.input-cover-reg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.input-box-reg {
  /* width: 70%; */
  /* margin-left: 2rem; */
  width: 100%;
}
.input-box-reg > input {
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}
  .left-head{
  display: flex;
  flex-direction: column;
    width: 70%;
    
  }
  .top-header{
    font-size: 12px;

  }
  .modal1{
    min-height: 400px;
 width: 300px;
 background-color: white;
 background: white; 
 position: absolute;
 /* margin: auto; */
 left: 10%;
 border-radius: 10px;
 display: flex;
 z-index: 8 !important;
 flex-direction: column;
 align-items: center;
 background: #222;
 top: 20%;

 padding: 10px;
  }
  .comm-table{
    width: 100%;
    overflow-x: scroll;
  }

  .nav1{
    flex-wrap: wrap;
  }
  .nav11 {
    width: 25vw;
  }
  .reg {
    width: 31vw;
    display: none;
  }
  .reg-mob{
    display: block;
  }
 
  
  .nav13 {
    /* width: 21vw; */
    /* margin-top: 1.4rem; */
    display: none;
  }
  .zones{
    font-size: 9px;
  }
  .main1 img{
    height: 16rem;
  }
}
@media screen and (max-width:400px){
  p{
    font-size: 12px;
  }
  a{
    font-size: 12px;
  }
  li{
    font-size: 12px;
  }
  h4{
    font-size: 16px;
  }
  h2{
    font-size: 18px;
  }
  button{
    font-size: 12px !important;
  }
  .nav13{
    width: 27vw;
  }
  .nav11 {
    width: 37vw;
    margin-bottom: 1.4rem;
  }
  .nav121 {
    width: 47vw;
  }
  .main1 img{
    height: 13rem;
  }
  .main4{
    margin: 2rem 0rem;
    padding: 1rem;
  }
  b{
    font-size: 12px;
  }
  h5{
    font-size: 15px;
  }
  .sample table{
    font-size: 10px;
  }
  .nav12{
    flex-wrap: wrap;
  }
  .nav12 img{
    margin-bottom: 1.4rem;
  }
  .enq-btns{
    right: -86px;
  }
}